@import './variables';
@import './mixins';

.single-comment {
    display: flex;
    width: 100%;
    // justify-content: center;
    // align-items: center;
    margin-top: 15px;
    padding-left: 13px;

    .user-pic {
        img {
            height: 50px;
        }
    }

    .comment-info {
        .comment-box {
            display: inline-block;
            margin-left: 10px;

            .box {
                @include themed() {
                    background-color: t("fifth-bg-color");
                    color: t("main-text-color");
                }
                display: flex;
                flex-direction: column;
                padding: 7px 10px;
                gap: 7px;
                border-radius: 16px;
                max-width: 500px;

                h3 {
                    margin: 0;
                    opacity: .8;
                }

                span {
                    word-wrap: break-word;
                    display: inline-block;
                }
            }

        }
        
    }
    .comment-info-footer {
        display: flex;
        padding-left: 7px;
        gap: 20px;
        font-size: .8em;

        .likes {
            svg {
                height: 20px;
            }

            display: flex;
            align-items: center;
        }
    }

    @media only screen and (min-device-width : 768px) 
                        and (max-device-width : 1024px) {
        .user-pic {
            img {
    
                height: 40px;
            }
        }

        .comment-info {
            .comment-box {
                .box {

                    h3 {

                        font-size: 1em;
                    }
    
                    span {
                        font-size: 1em;
                    }
                }
    
            }
            
        }

    }

    @media only screen and (min-width : 1921px) {
        .user-pic {
            img {
    
                height: 50px;
            }
        }

        .comment-info {
            .comment-box {
                .box {
                    padding: 12px 15px;
    
                    h3 {
                        margin: 0;
                        opacity: .8;
                        font-size: 1.5em;
                    }
    
                    span {
                        font-size: 1.3em;
                        word-wrap: break-word;
                        display: inline-block;
                    }
                }
    
            }
            
        }

        .comment-info-footer {
            font-size: 1em;
    
            .likes {
                svg {
                    height: 35px;
                }
            }
        }

    
    }
}