@import './variables';
@import './mixins';

.create-post {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
    .create-post-container {
        @include themed() {
            background-color: t("fourth-bg-color");
            color: t("main-text-color");
            border: t("border-color") 1px solid; 
        }
        @include flexCenter(column);
        width: 600px;
        padding: 20px;
        border-radius: 20px;
        box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
        gap: 10px;
    
        
        .post-form {
            display: flex;

            svg, img {
                @include themed() {
                    background-color: t("secondary-bg-color");
                };
                height: 40px;
                margin-right: 10px;
                border-radius: 50%;
            }

            .input { 
                @include themed() {
                    background-color: t("fifth-bg-color") ;
                    color: t("main-text-color") ;
                    border: 1px t("border-color") solid;
                };
                width: 500px;
                resize: none;
                min-height: 50px;
            }
        }

        .btn-container {
            display: flex;
            width: 87%;
            justify-content: flex-end;

            
                @include buttonFirst($btn-color)
            
        }

        .error-msg {
            color: red;
        }
    }

    @media only screen and (max-width : 480px){
        width: 97%;
        .create-post-container {
            width: 100%;

            .post-form {
                width: 100%;
                svg, img {
                    height: 40px;
                }
    
                .input { 
                    width: 90%;
                    font-size: 1em;
                    min-height: 40px;
                }
            }

        }
    }

    @media only screen and (min-width : 480px) and (max-width: 768px){
        width: 97%;
        .create-post-container {
            width: 100%;

            .post-form {
                width: 100%;
                svg, img {
                    height: 40px;
                }
    
                .input { 
                    width: 90%;
                    font-size: 1em;
                    min-height: 40px;
                }
            }

        }
    }

    @media only screen and (min-device-width : 768px) 
                        and (max-device-width : 1024px) {
        .create-post-container {
            width: 500px;

            .post-form {
                svg, img {
                    height: 40px;
                }
    
                .input { 
                    width: 380px;
                    font-size: 1em;
                    min-height: 40px;
                }
            }

        }
    }
    
    @media only screen and (min-width : 1921px) {
        .create-post-container {
            width: 1000px;

            .post-form {
                svg, img {
                    height: 100px;
                }
    
                .input { 
                    width: 750px;
                    font-size: 1.5em;
                }
            }
    
            .btn-container {
                button {
                    font-size: 1.2em;
                }  
            }
        }
    }
}