@import './variables';
@import './mixins';

.create-post {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
    .create-post-container {
        @include flexCenter(column);
        width: 600px;
        padding: 20px;
        border-radius: 20px;
        box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
        background-color: $fourth-bg-color;
        border: $border-color 1px solid;
        gap: 10px;
    
        
        .post-form {
            display: flex;

            svg, img {
                height: 40px;
                margin-right: 10px;
                border-radius: 50%;
            }

            .input {
                width: 500px;
                resize: none;
                min-height: 50px;
            }
        }

        .btn-container {
            display: flex;
            width: 87%;
            justify-content: flex-end;

            
                @include buttonFirst($btn-color)
            
        }

        .error-msg {
            color: red;
        }
}
}