@import './variables';
@import './mixins';

.home {
    height: 100vh;
    @include themed() {
        background-color: t("secondary-bg-color");
        color: t("main-text-color"); 
    }
    .dashboard {
        padding: 40px 60px;
        display: grid;
        grid-template-columns: 1fr 8fr;
        justify-content: center;
        align-items: flex-start;
        gap: 150px;

    }

    .post-footer {
        display: flex;
        justify-content: space-around;
        width: 100%;
        .post-link {
            cursor: pointer;
            font-size: 12px;
            text-decoration: underline;
        }

        .post-link:hover {
            color: $secondary-text-color;
        }

        .no-more {
            cursor: alias;
        }

        .no-more:hover {
            @include themed() {
                color: t("main-text-color"); 
            }
  
            
        }
    }


}