@import './variables';
@import './mixins';

.login-container {
    @include flexCenter(column);
    @include themed() {
        background-color: t("secondary-bg-color");
        color: t("main-text-color"); 
    }
    height: 100vh;

    .greeting {
        h1 {
            font-size: 2em;
            opacity: .7;
        }
    }

    .login-field {
        @include themed() {
            background-color: t("fourth-bg-color");
            color: t("main-text-color");
        }
        @include flexCenter(column);
        margin-bottom: 100px;
        padding: 30px;
        border-radius: 12px;
        // background-color: $fourth-bg-color;

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            

            .input-field {
                display: flex;
                flex-direction: column;
                gap: 5px;
                

                input {
                    @include themed() {
                        background-color: t("fifth-bg-color") ;
                        color: t("main-text-color") ;
                        border: 1px t("border-color") solid;
                    };

                    width: 370px;
                    height: 30px;
                    border-radius: 8px;
                }

                .input::-webkit-input-placeholder, .input:-moz-placeholder, .input::-moz-placeholder, .input:-ms-input-placeholder, .input:-webkit-autofill  {
                    @include themed() {
                        background-color: t("fifth-bg-color") ;
                        color: t("main-text-color") ;
                        border: 1px t("border-color") solid;
                    };
                }

               

                input:focus {
                    outline: green 2px solid;
    
                }
            }

            button {
                padding: 5px 0px;
                font-size: 1em;
                background-color: $secondary-btn-color;
                border: none;
                cursor: pointer;
                border-radius: 4px;
            }

            .fb {
                background-color: $btn-color;
            }

            .test {
                background-color: $third-btn-color;
            }

            button:hover, button:focus {
                filter: brightness(1.2);
            }

            .err {   
                width: 100%;
                display: flex;
                justify-content: center;
                .err-msg {
                    color: red;
                }
            }
        }

        .sign-up {
            display: flex;
            align-items: center;
            gap: 8px;

            .link {
                color: $fourth-text-color;
            }
        }


    }

    @media only screen and (min-width : 1921px) {
        .greeting {
            h1 {
                font-size: 4em;
            }
        }

        .login-field {
            margin-bottom: 300px;

            form {
                
    
                .input-field {

                    input {
                        margin-bottom: 10px;
                        width: 570px;
                        height: 40px;
                        font-size: 1.5em;
                    }
                }
    
                button {
                    padding: 5px 0px;
                    font-size: 1.5em;
                }
            }
    
            .sign-up {
                font-size: 1.2em;
            }
    
    
        }
    }

    @media (max-width: 420px){

            margin: 0px 20px;
    
            .greeting {
                h1 {
                    font-size: 1.5em;
                }
            }
    
            .login-field {    
                form {
                    .input-field {               
                        input {
                            width: 80vw;
                            height: 30px;
                            border-radius: 8px;
                            border: 1px lightgrey solid;
                        }
                    }
                }
        
        }
    
    }

}
