@import './variables';
@import './mixins';

.notifs-box {
    @include themed() {
        background-color: t("fourth-bg-color");
        color: t("main-text-color");
    }
    width: 200px;
    border: none;
    // background-color: $fourth-bg-color;
    box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;

    ul {
        margin: 0px 0px;
        padding: 0px;
        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            padding: 10px 10px;
            padding-left: 5px;

            img, svg {
                height: 30px;
                border-radius: 50%;
            }

            .btn-container {
                display: flex;
                gap: 10px;


                .accept {
                    color: black;
                    background-color: rgb(61, 194, 61) !important;
                    border-radius: 50%;
                    padding: 2px;
                }
                
                .decline {
                    color: black;
                    background-color: rgb(245, 61, 61) !important;
                    border-radius: 50%;
                    padding: 2px;
                }

                svg, img {
                    @include themed() {
                        background-color: t("secondary-bg-color");
                    };
                    height: 30px;
                }

                svg:hover {
                    filter: brightness(.8);
                }
            }
        
        }

        li:hover {
            filter: brightness(1.2);
        }
    }

    @media only screen and (min-width : 1921px) {
       width: 300px;

       ul {
        li {
            font-size: 1.5em;
            img, svg {
                height: 50px;
            }

            .btn-container {
                svg, img {
                    height: 40px;
                }
            }
        }
       }
    }
}