@import './variables';
@import './mixins';

.post-card {
    @include flexCenter(column);
    align-items: flex-start;
    width: 600px;
    padding: 20px;
    // @include flexCenter(column);
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
    margin-bottom: 20px;

    svg, img {
        height: 50px;
        border-radius: 50%;
    }

    h1 {
        margin: 0px;
        
        font-size: 1.5em;
        font-weight: 500;
    }

    .footer-container {
        width: 100%;
        display: flex;
        justify-content: space-between;

        p {
            font-size: .7em;
        }

        .like-comments {
            display: flex;
            gap: 35px;

            .click-comments {
                text-decoration: underline;
                cursor: pointer;
            }
            
            .like-container {
                display: flex;
                align-items: center;
                gap: 10px;
                
                button {
                    padding: 5px 0px;
                    font-size: 1em;
                    background-color: rgba(226, 63, 63, 0.979);
                    border: none;
                    cursor: pointer;
                    border-radius: 4px;
                    width: 100px;
                    
                }
            }
        }
    }

    .add-comment-container {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 10px;

        svg {
            height: 30px;

        }

        .post-btn {
            position: relative;
            right: 40px;
            cursor: pointer;
        }

        textarea {
            margin-left: 10px;
            padding-right: 40px !important;
            width: 75%;
            padding: 10px;
            border: none;
            background-color: $fifth-bg-color;
            border-radius: 16px;
            resize: none;
        }

        textarea:focus {
            outline-color: $secondary-text-color;
        }

        .search-field {
            position: absolute;
            top: 60px;
            padding-left: 32px
        }
    }

    .err-cont {
        width: 100%;
        display: flex;
        justify-content: center;

        p {
            color: red;
        }
    }
    
}

.posts-container {
    @include flexCenter(column)
}

