@import './variables';
@import './mixins';

.post-card {
    @include themed() {
        background-color: t("fourth-bg-color");
        color: t("main-text-color");
    }
    @include flexCenter(column);
    align-items: flex-start;
    width: 600px;
    padding: 20px;
    // @include flexCenter(column);
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.1) 0px 4px 12px;
    margin-bottom: 0px;

    .text {
        word-wrap: break-word;
        display: inline-block;
    }

    svg, img {
        @include themed() {
            background-color: t("fourth-bg-color");
        };
        height: 50px;
        border-radius: 50%;
    }

    h1 {
        margin: 0px;
        
        font-size: 1.5em;
        font-weight: 500;
    }

    .footer-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            font-size: .7em;
        }

        .like-comments {
            display: flex;
            align-items: center;
            gap: 35px;

            .click-comments {
                text-decoration: underline;
                cursor: pointer;
            }
            
            .like-container {
                display: flex;
                align-items: center;
                gap: 10px;

                svg {
                    height: 25px;
                    border-radius: 0px;
                   }
                
            
            }
        }
    }

    .add-comment-container {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 10px;

        svg, img {
            height: 30px;
            border-radius: 50%;
            @include themed() {
                background-color: t("fifth-bg-color");
            };

            // background-color: rgb(238, 238, 238);
            color: black;
        }

        .post-btn {
            position: relative;
            right: 40px;
            cursor: pointer;
            border-radius: 0px;
            
        }

        textarea {
            @include themed() {
                background-color: t("fifth-bg-color");
                color: t("main-text-color")
            };
            margin-left: 10px;
            padding-right: 40px !important;
            width: 75%;
            padding: 10px;
            border: none;
            // background-color: $fifth-bg-color;
            border-radius: 16px;
            resize: none;
        }

        textarea:focus {
            @include themed() {
                outline-color: t("secondary-text-color");
            };
            // outline-color: $secondary-text-color;
        }

       
    }

    .err-cont {
        width: 100%;
        display: flex;
        justify-content: center;

        p {
            color: red;
        }
    }

    .comment-footer {
        display: flex;
        justify-content: space-around;
        width: 100%;

        .comment-link {
            cursor: pointer;
            font-size: 12px;
            text-decoration: underline;
        }

        .comment-link:hover {
            color: $secondary-text-color;
        }

        .no-more {
            cursor: alias;
        }

        .no-more:hover {
            @include themed() {
                color: t("main-text-color");
            };

            
        }
    }

    @media only screen and (max-width : 480px) {
        width: 90%;

        .add-comment-container {
        
    
            svg, img {
                height: 30px;
            }

            .post-btn {
                right: 40px;
            }
           
        }
    
    }

    @media only screen and (min-width : 480px) and (max-width: 768px) {
        width: 90%;

        .add-comment-container {
        
    
            svg, img {
                height: 30px;
            }

            .post-btn {
                right: 40px;
            }
           
        }
    
    }

    @media only screen and (min-width : 768px) 
                        and (max-width : 1024px) {
        width: 500px;
        gap: 5px;



        .add-comment-container {
        
    
            svg, img {
                height: 30px;
            }

            .post-btn {
                right: 40px;
            }
           
        }
    
    }

    @media only screen and (min-width : 1921px) {
        width: 1000px;
        gap: 10px;

        svg, img {
            height: 100px;
        }

        h1 {
            font-size: 2.5em;
        }

        .text {
            font-size: 2em;
            font-weight: 300;
            margin-bottom: 0px;
        }

        .footer-container {
            p {
                font-size: 1em;
            }

            .like-comments {
    
                
                .like-container {
                   svg {
                    height: 50px;
                    border-radius: 0px;
                   }
                }
            }
        }

        .add-comment-container {
        
    
            svg, img {
                height: 50px;
            }

            .post-btn {
                right: 70px;
            }
    
    
        
            textarea {
                height: 50px;
                font-size: 1.3em;
            }
           
        }

        .comment-footer {
    
            .comment-link {
                font-size: 20px;
            }
        }

        .posts-container {
            gap: 20px;
        }
    
    }
    
}

.posts-container {
    @include flexCenter(column);
    gap: 20px;

    @media only screen and (min-width : 480px) {

        width: 100%;
    

    }

}


