@import './variables';
@import './mixins';

.search-box {
    width: 227px;
    border: none;
    background-color: $fourth-bg-color;
    box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;

    ul {
        margin: 0px 0px;
        padding: 0px;
        li {
            img, svg {
                position: static !important;
                height: 35px;
                border-radius: 50%;
            }
            display: flex;
            align-items: center;
            gap: 10px;
            list-style: none;
            padding: 10px 0px;
            padding-left: 5px;
            cursor: pointer;
        }

        li:hover {
            background-color: $secondary-bg-color;
        }
    }
}