@import './variables';
@import './mixins';

.search-box {
    @include themed() {
        background-color: t("fourth-bg-color");
        color: t("main-text-color");
    }
    width: 227px;
    border: none;
    // background-color: $fourth-bg-color;
    box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;

    ul {
        margin: 0px 0px;
        padding: 0px;
        li {
            img, svg {
                position: static !important;
                height: 35px;
                border-radius: 50%;
                @include themed() {
                    background-color: t("secondary-bg-color");
                };
            }
            display: flex;
            align-items: center;
            gap: 10px;
            list-style: none;
            padding: 10px 0px;
            padding-left: 5px;
            cursor: pointer;
        }

        li:hover {
            filter: brightness(1.2);
        }
    }

    @media only screen and (min-width : 1921px) {
        width: 350px;

        ul {
            li {
                img, svg {
                    height: 50px !important;
                }
                font-size: 1.5em;
            }
        }
    }
}