@import './variables';
@import './mixins';

.side-bar-container {
    height: 80%;
    width: 300px;
    background-color: $fourth-bg-color;
    border: $border-color 1px solid;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;

    .user {
        @include flexCenter(row);
        justify-content: flex-start;
        gap: 15px;
        svg, img {
            height: 45px;
            border-radius: 50%;
        }
    }

    .friend-list {
        @include flexCenter(column);
        align-items: flex-start;
        gap: 10px;
        h2 {
            font-size: 1.2em;
            font-weight: 600;
            opacity: .7;
        }

        h3 {
            margin-bottom: 0px;
            opacity: .6;
        }

        .friend-pop {
            position: absolute;

            
        }

        .friend {
            @include flexCenter(row);
            justify-content: flex-start;
            gap: 10px;
            img, svg {
                height: 40px;
                border-radius: 50%;
            }

            h3 {
                margin: 0px;
            }
        }
    }
}