@import './variables';
@import './mixins';

.pop-card-container {
    @include flexCenter(column);
    background-color: $fourth-bg-color;
    padding: 15px 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 3px 1px;
    border-radius: 8px;
    width: 250px;
    margin-top: -5px;

    .pop-grid {
        display: flex;
        gap: 10px;

        svg, img {
            height: 70px;
            border-radius: 50%;
        }
    }

    .pop-card-btn-container {
        display: flex;
        gap: 15px;
    }
}