@import './variables';
@import './mixins';

.pop-card-container {
    @include themed() {
        background-color: t("fourth-bg-color");
        color: t("main-text-color");
    }
    @include flexCenter(column);
    background-color: $fourth-bg-color;
    padding: 15px 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 3px 1px;
    border-radius: 8px;
    min-width: 250px;
    margin-top: -5px;

    .pop-grid {
        display: flex;
        gap: 10px;

        svg, img {
            @include themed() {
                background-color: t("secondary-bg-color");
            };
            height: 70px;
            border-radius: 50%;
        }
    }

    .pop-card-btn-container {
        display: flex;
        gap: 15px;

        @include buttonSecond($btn-color)
    }

    @media screen and (max-width: 500px) {
        min-width: 150px;
        padding: 5px 10px;
        .pop-grid {
            
            .user-info {

                h2 {
                    font-size: .8em;
                }
                p {
                    font-size: .7em;
                }
                svg, img {
                    height: 50px;
                }
            }
        }

        .pop-card-btn-container {
            margin-top: 15px;
            
            button {
                font-size: .5em;
            }
        }
    }

    @media only screen and (min-width : 1921px) {
        .pop-grid {

            svg, img {
                height: 100px;
            }
        }

        .pop-card-btn-container {
            margin-top: 15px;
            
            button {
                font-size: 1em;
            }
        }
    }
}

