@import './variables';
@import './mixins';

.user-page-container {
    @include themed() {
        background-color: t("secondary-bg-color");
        color: t("main-text-color"); 
    }

    .user-page-header {
        @include themed() {
            background-color: t("fourth-bg-color");
            color: t("main-text-color");
        }

        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        padding: 0px 10em;
        // width: 100%;
        // background-color: $fourth-bg-color;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 2px 0px;
        min-height: 300px;
        
        .user-container {
            width: 100%;
            .profile-header {
    
                display: flex;
                align-items: flex-end;
                justify-content: space-around;
                // margin: 50px 20em;
                margin-top: 50px;
    
                
                .user-details {
                display: flex;
                align-items: center;
                
                .profile-pic-container {
                    padding: 0;
                    margin-right: 20px;
                    
                    .profile-pic {
                        img, svg {
                            width: 200px;
                            border-radius: 50%;
                            cursor: alias;
                        }
                        
                    }
                    
                    .change-profile-pic {
                        display: flex;
                        position: relative;
                        justify-content: flex-end;
                        top: -50px;
                        right: 25px;
                        z-index: 2;
                        svg {
                            @include themed() {
                                background-color: t("secondary-bg-color");
                                color: t("white");
                                border: solid 1px t("border-color");
                            
                            }
                            height: 30px;
                            padding: 5px;
                            // border: solid 1px white;
                            border-radius: 50%;
                            // background-color: rgb(192, 192, 192);
                            cursor: pointer;
                            overflow:visible
                        }
                    }
                }
    
                .name-friends-container {
                    h1 {
                        margin-bottom: 0px;
                    }
    
                    .have-friends {
                        display: flex;
                        gap: 5px;
                        h3 {
                            white-space: nowrap;
                            margin-top: 0px;
                        }
                    }
    
                    .friend-pics {
                        display: flex;
                        
                        
                        svg, img {
                            margin-right: -8px;
                            border-radius: 50%;
                            height: 25px;
                            background-color: white;
                            cursor: pointer;
                            
                        }
                    }
    
                    .friend-pop {
                        position: absolute;

                        
                    }
                    }
                }
            
                .btn-container {
                    margin-bottom: 20px;
                    margin-left: 200px;

                    @include buttonSecond($btn-color);
                }
            }
    
            .btn-container {
                margin-bottom: 50px;
    
                
                svg {
                    height: 20px;
                }
                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    gap: 5px;
                    white-space: nowrap;
                }
            }
        }
    }

    .user-page-body-container {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        padding: 40px;
        gap: 20px;
        .side-bar {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 25px;
            width: 100%;
            .about-container {
                @include themed() {
                    background-color: t("fourth-bg-color");
                }
                // background-color: white;
                border-radius: 20px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 2px 0px;
                padding: 10px;
                margin-right: 25px;
                width: 400px;
            }

            .friends-container {
                width: 400px;
                @include themed() {
                    background-color: t("fourth-bg-color");
                }
                // background-color: white;
                border-radius: 20px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 2px 0px;
                padding: 10px;
                margin-right: 25px;

                .friends-container-header {
                    margin-bottom: 20px;
                    .titles {
                        display: flex;
                        justify-content: space-between;
                        .see-all {
                            // @include themed() {
                            //     background-color: t("secondary-text-color");
                            // }
                            color: $secondary-text-color;
                            cursor: pointer;
                        }

                        .see-all:hover {
                            text-decoration: underline;
                            opacity: .8;
                        }
                        h3 {
                            margin-bottom: 0px;
                        }
                    }

                }
                .friends {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;
                    .friend {
                        svg, img {
                            @include themed() {
                                background-color: t("secondary-bg-color");
                            };
                            width: 120px;
                            border-radius: 8px;
                        }

                        h4 {
                            margin-top: 5px;
                        }
                        
                    }
                }
            }
        }

        .post-footer {
            display: flex;
            justify-content: space-around;
            width: 100%;
            .post-link {
                cursor: pointer;
                font-size: 12px;
                text-decoration: underline;
            }
    
            .post-link:hover {
                color: $secondary-text-color;
            }

            .no-more {
                cursor: alias;
            }

            .no-more:hover {
                color: black;
                
            }
        }
    }

    .edit-user-container {
        @include themed() {
            background-color: t("fourth-bg-color");
        }
        z-index: 10;
        position: fixed;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        // background-color: $fourth-bg-color;
        width: 500px;
        padding: 30px;
        border-radius: 16px;

        .edit-header {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid black;

            

            svg {
                width: 30px;
                cursor: pointer;
                border-radius: 50%;
            }
        }

        .edit-container {
            .images-container {
                display: flex;
                justify-content: center;
            
            .images {
                
                position: relative;
                .image-overlay {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100px;
                    display: none;
                }
                svg, img {
                    cursor: pointer;
                    width: 200px;
                }

            }

            .images:hover {
                opacity: .8;
                .image-overlay {
                    opacity: .6;
                    display: inline !important;
                }
            }

            }
            .about-edit-container {
                display: flex;
                justify-content: center;
                width: 100%;

                textarea {
                    width: 90%;
                    height: 100px;
                    resize: none;
                    @include themed() {
                        background-color: t("fifth-bg-color");
                        color: t("main-text-color")
                    };
                }
            }
        }
        .btn-container {
            margin-top: 20px;
            display: flex;
            width: 100%;
            justify-content: center;
            @include buttonSecond($btn-color);
            button {
                width: 70%;
                font-size: 1.1em;
            }

        }

        
    }
    .page-mask {
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
      }

      @media screen and (max-width: 480px) {
        .user-page-header {
            display: flex;
            padding: 0px;
            min-height: 150px;
            .user-container {
                .profile-header {

                    .profile-pic-container {

                        .profile-pic {
                            img, svg {
                                width: 80px !important;
                            }
                        }

                        .change-profile-pic {
                            right: -5px !important;
                            top: -30px !important;

                            svg {
                                height: 20px !important;
                            }
                        }
                        
                    }

                    .name-friends-container {
                        h1 {
                            font-size: .8em;
                        }

                        .have-friends {
                            h3 {
                                font-size: .8em;
                            }
                        }
                    }

                    .btn-container {
                        margin-left: 0px;
                        button {
                            font-size: .6em;
                            
                            svg {
                                height: 15px;
                            }
                        }
                    }
                }
            }
        }

        .user-page-body-container {
            display: flex;
            flex-direction: column;
            .side-bar {
                align-items: center;
                .about-container {
                    margin: 0px;
                    h3 {
                        font-size: 1em;
                    }

                    span {
                        font-size: .8em;
                    }
                    width: 80%;
                }
                .friends-container {
                    margin: 0px;
                    width: fit-content;
                    .friends-container-header {
                        .titles {
                            h3 {
                                font-size: .8em;
                            }
                        }
                    }

                    .friends {
                        align-items: center;
                        justify-content: center;
                        .friend {
                            svg, img {
                                width: 70px;
                                
                            }
                            
                            h4 {
                                font-size: .8em;
                                margin-bottom: 0px;
                            }
                        }
                    }
                }
            }
    
        }

        .edit-user-container {
            width: 450px;

            .edit-header {
                h1 {
                    font-size: 2em;
                }

                svg {
                   width: 40px; 
                }
            }

            .edit-container {
                h2 {
                    font-size: 1.8em;
                }
                .images-container {

                    .images {
                        .image-overlay {
                            width: 100px;
                        }
                        svg, img {
                            width: 250px;
                        }
                    }
                }

                .about-edit-container {

                    textarea {
                        height: 150px;
                        font-size: 1.2em;
                    }
                }
            }

            .btn-container {
                button {
                    font-size: 1.2em;
                }
            }
        }
      }


      @media only screen and (min-width : 480px) 
                         and (max-width : 880px) {
        .user-page-header {
            display: flex;
            padding: 0px;
            min-height: 200px;
            .user-container {
                .profile-header {

                    .profile-pic-container {

                        .profile-pic {
                            img, svg {
                                width: 150px !important;
                            }
                        }

                        .change-profile-pic {
                            right: 0px !important;
                        }
                        
                    }

                    .btn-container {
                        margin-left: 0px;
                        button {
                            font-size: .8em;
                            
                        }
                    }
                }
            }
        }

        .user-page-body-container {
            display: flex;
            flex-direction: column;
            
            .side-bar {
                align-items: center;
                justify-content: center;
                margin: 0px;
                .about-container {
                    margin: 0px;
                    h3 {
                        font-size: 1em;
                    }

                    span {
                        font-size: 1em;
                    }
                    width: 80%;
                }
                .friends-container {
                    margin: 0px;
                    max-width: fit-content;
                    .friends-container-header {
                        .titles {
                            h3 {
                                font-size: 1em;
                            }
                        }
                    }

                    .friends {
                        .friend {
                            svg, img {
                                width: 90px;
                                
                            }
                            
                            h4 {
                                font-size: .8em;
                                margin-bottom: 0px;
                            }
                        }
                    }
                }
            }
    
        }

        .edit-user-container {
            width: 450px;

            .edit-header {
                h1 {
                    font-size: 2em;
                }

                svg {
                   width: 40px; 
                }
            }

            .edit-container {
                h2 {
                    font-size: 1.8em;
                }
                .images-container {

                    .images {
                        .image-overlay {
                            width: 100px;
                        }
                        svg, img {
                            width: 250px;
                        }
                    }
                }

                .about-edit-container {

                    textarea {
                        height: 150px;
                        font-size: 1.2em;
                    }
                }
            }

            .btn-container {
                button {
                    font-size: 1.2em;
                }
            }
        }
       
    }

      @media only screen and (min-device-width : 880px) 
                         and (max-device-width : 1024px) {
        .user-page-header {
            min-height: 170px;
            .user-container {
                .profile-header {
                    .user-details {
                        .profile-pic-container {
                            .profile-pic {
                                img, svg {
                                    width: 150px;
                                }
                            }

                            .change-profile-pic {
                                right: 0px;
                                svg {
                                    height: 30px;
                                }
                            }
                        }

                        .name-friends-container {
                            h1 {
                                font-size: 1.3em;
                            }

                            .have-friends {
                                h3 {
                                    font-size: 1em;
                                }
                            }

                            .friend-pics {
                                svg, img {
                                    height: 25px;
                                }
                            }
                        }

                    }
                    .btn-container {
                        button {
                            font-size: 1em;

                            svg {
                                height: 20px;
                            }
                        }
                    }
                }
            }
        }

        .user-page-body-container {
            .side-bar {

                .about-container {
                    h3 {
                        font-size: 1em;
                    }

                    span {
                        font-size: 1em;
                    }
                    width: 200px;
                }
                .friends-container {
                    width: 200px;
                    .friends-container-header {
                        .titles {
                            h3 {
                                font-size: 1em;
                            }
                        }
                    }

                    .friends {
                        .friend {
                            svg, img {
                                width: 90px;
                                
                            }
                            
                            h4 {
                                font-size: .8em;
                                margin-bottom: 0px;
                            }
                        }
                    }
                }
            }
    
        }
       
    }

    @media only screen and (min-width: 1024px) and (max-width: 1250px) {
        .user-page-body-container {
            .side-bar {
                .about-container {
                    width: 265px;
                }

                .friends-container {
                    width: 265px;
                }
            }
        }
    }

      @media only screen and (min-width : 1921px) {
        .user-page-header {
            min-height: 400px;
            .user-container {
                .profile-header {
                    .user-details {
                        .profile-pic-container {
                            .profile-pic {
                                img, svg {
                                    width: 300px;
                                }
                            }

                            .change-profile-pic {
                                svg {
                                    height: 40px;
                                }
                            }
                        }

                        .name-friends-container {
                            h1 {
                                font-size: 3em;
                            }

                            .have-friends {
                                h3 {
                                    font-size: 1.4em;
                                }
                            }

                            .friend-pics {
                                svg, img {
                                    height: 40px;
                                }
                            }
                        }

                    }
                    .btn-container {
                        button {
                            font-size: 1.3em;

                            svg {
                                height: 25px;
                            }
                        }
                    }
                }
            }
        }

        .user-page-body-container {
            .side-bar {

                .about-container {
                    h3 {
                        font-size: 1.5em;
                    }

                    span {
                        font-size: 1.2em;
                    }
                    width: 550px;
                }
                .friends-container {
                    width: 550px;
                    .friends-container-header {
                        .titles {
                            h3 {
                                font-size: 1.5em;
                            }
                        }
                    }

                    .friends {
                        .friend {
                            svg, img {
                                width: 170px;
                                
                            }
                            
                            h4 {
                                font-size: 1.1em;
                            }
                        }
                    }
                }
            }
            .post-footer {
                .post-link {
                    font-size: 1.5em;
                }
            }
        }
        .edit-user-container {
            width: 800px;

            .edit-header {
                h1 {
                    font-size: 2.5em;
                }

                svg {
                   width: 40px; 
                }
            }

            .edit-container {
                h2 {
                    font-size: 1.8em;
                }
                .images-container {

                    .images {
                        .image-overlay {
                            width: 150px;
                        }
                        svg, img {
                            width: 350px;
                        }
                    }
                }

                .about-edit-container {

                    textarea {
                        height: 150px;
                        font-size: 1.5em;
                    }
                }
            }

            .btn-container {
                button {
                    font-size: 1.5em;
                }
            }
        }
    }
}

.center-loading {
    height: 100vh;
    @include flexCenter(row);
    @include themed() {
        background-color: t("secondary-bg-color");
        color: t("main-text-color"); 
    }
}

