@import './variables';
@import './mixins';

.user-container {
    display: flex;
    justify-content: center;

    .user-details {
        display: flex;
        align-items: flex-end;
        svg {
            height: 200px;
        }

        .btn-container {
            margin-bottom: 20px;
            margin-left: 200px;
        }
    }
}